[workspace]
members = [
    "dao",
    "macros",
]

exclude = [
    "cucumber-runner",
    "dao-client"
]

[workspace.dependencies]
odra = { git = "https://github.com/odradev/odra.git", branch = "release/0.4.0", default-features = false }
odra-modules = { git = "https://github.com/odradev/odra.git", branch = "release/0.4.0", default-features = false }

[profile.release]
codegen-units = 1
lto = true

[profile.dev.package."*"]
opt-level = 3
