{
  "private_key_path": "/Users/username/path/to/secret_key.pem",
  "node_rpc_uri": "http://localhost:11101/rpc",
  "contracts": {
    "VariableRepositoryContract": {
      "wasm_relative_path": "../../target/wasm32-unknown-unknown/release/variable_repository_contract.wasm",
      "payment_amount": "304005313820"
    },
    "ReputationContract": {
      "wasm_relative_path": "../../target/wasm32-unknown-unknown/release/reputation_contract.wasm",
      "payment_amount": "189522575660",
      "whitelisting": {
        "contracts": [
          "AdminContract",
          "KycVoterContract",
          "RepoVoterContract",
          "ReputationVoterContract",
          "SlashingVoterContract",
          "SimpleVoterContract",
          "BidEscrowContract",
          "OnboardingRequestContract"
        ],
        "payment_amount": "21533860050"
      }
    },
    "VaNftContract": {
      "wasm_relative_path": "../../target/wasm32-unknown-unknown/release/va_nft_contract.wasm",
      "args": {
        "name": "VaNFTCRDao",
        "symbol": "VACRDAO",
        "base_uri": "http://example.com"
      },
      "payment_amount": "144652011990",
      "whitelisting": {
        "contracts": [
          "SlashingVoterContract",
          "BidEscrowContract",
          "OnboardingRequestContract"
        ],
        "payment_amount": "7717208780"
      }
    },
    "KycNftContract": {
      "wasm_relative_path": "../../target/wasm32-unknown-unknown/release/kyc_nft_contract.wasm",
      "args": {
        "name": "KYCNFTCRDao",
        "symbol": "KYCCRDAO",
        "base_uri": "http://example.com"
      },
      "payment_amount": "144659698840",
      "whitelisting": {
        "contracts": [
          "KycVoterContract",
          "BidEscrowContract",
          "OnboardingRequestContract"
        ],
        "payment_amount": "7717208780"
      }
    },
    "DaoIdsContract": {
      "wasm_relative_path": "../../target/wasm32-unknown-unknown/release/dao_ids_contract.wasm",
      "payment_amount": "75004682350",
      "whitelisting": {
        "contracts": [
          "KycVoterContract",
          "BidEscrowContract",
          "OnboardingRequestContract",
          "SlashingVoterContract",
          "RepoVoterContract",
          "ReputationVoterContract",
          "SimpleVoterContract",
          "AdminContract"
        ],
        "payment_amount": "5826968390"
      }
    },
    "SlashingVoterContract": {
      "wasm_relative_path": "../../target/wasm32-unknown-unknown/release/slashing_voter_contract.wasm",
      "payment_amount": "287507102220",
      "bid_escrow_list": {
        "contracts": [
          "BidEscrowContract"
        ],
        "payment_amount": "5277407350"
      }
    },
    "SimpleVoterContract": {
      "wasm_relative_path": "../../target/wasm32-unknown-unknown/release/simple_voter_contract.wasm",
      "payment_amount": "272838142410"
    },
    "ReputationVoterContract": {
      "wasm_relative_path": "../../target/wasm32-unknown-unknown/release/reputation_voter_contract.wasm",
      "payment_amount": "272282454340"
    },
    "RepoVoterContract": {
      "wasm_relative_path": "../../target/wasm32-unknown-unknown/release/repo_voter_contract.wasm",
      "payment_amount": "273456180800",
      "whitelisting": {
        "contracts": [
          "RepoVoterContract"
        ],
        "payment_amount": "7871775660"
      }
    },
    "AdminContract": {
      "wasm_relative_path": "../../target/wasm32-unknown-unknown/release/admin_contract.wasm",
      "payment_amount": "270332551320",
      "whitelisting": {
        "contracts": [
          "SlashingVoterContract"
        ],
        "payment_amount": "7872688760"
      }
    },
    "OnboardingRequestContract": {
      "wasm_relative_path": "../../target/wasm32-unknown-unknown/release/onboarding_request_contract.wasm",
      "payment_amount": "311866349550",
      "whitelisting": {
        "contracts": [
          "SlashingVoterContract"
        ],
        "payment_amount": "14308402730"
      }
    },
    "KycVoterContract": {
      "wasm_relative_path": "../../target/wasm32-unknown-unknown/release/kyc_voter_contract.wasm",
      "payment_amount": "278564844370",
      "whitelisting": {
        "contracts": [
          "SlashingVoterContract"
        ],
        "payment_amount": "9772646810"
      }
    },
    "BidEscrowContract": {
      "wasm_relative_path": "../../target/wasm32-unknown-unknown/release/bid_escrow_contract.wasm",
      "payment_amount": "403743402260",
      "whitelisting": {
        "contracts": [
          "SlashingVoterContract"
        ],
        "payment_amount": "23350440620"
      }
    }
  }
}
