{
  "private_key_path": "/Users/username/path/to/secret_key.pem",
  "node_rpc_uri": "http://localhost:11101/rpc",
  "contracts": {
    "VariableRepositoryContract": {
      "wasm_relative_path": "../../target/wasm32-unknown-unknown/release/variable_repository_contract.wasm",
      "payment_amount": "176313205120"
    },
    "ReputationContract": {
      "wasm_relative_path": "../../target/wasm32-unknown-unknown/release/reputation_contract.wasm",
      "payment_amount": "178236116300",
      "whitelisting": {
        "contracts": [
          "AdminContract",
          "KycVoterContract",
          "RepoVoterContract",
          "ReputationVoterContract",
          "SlashingVoterContract",
          "SimpleVoterContract",
          "BidEscrowContract",
          "OnboardingRequestContract"
        ],
        "payment_amount": "8295156140"
      }
    },
    "VaNftContract": {
      "wasm_relative_path": "../../target/wasm32-unknown-unknown/release/va_nft_contract.wasm",
      "args": {
        "name": "VaNFTCRDao",
        "symbol": "VACRDAO",
        "base_uri": "http://example.com"
      },
      "payment_amount": "141659346590",
      "whitelisting": {
        "contracts": [
          "SlashingVoterContract",
          "BidEscrowContract",
          "OnboardingRequestContract"
        ],
        "payment_amount": "2307437410"
      }
    },
    "KycNftContract": {
      "wasm_relative_path": "../../target/wasm32-unknown-unknown/release/kyc_nft_contract.wasm",
      "args": {
        "name": "KYCNFTCRDao",
        "symbol": "KYCCRDAO",
        "base_uri": "http://example.com"
      },
      "payment_amount": "141649026960",
      "whitelisting": {
        "contracts": [
          "KycVoterContract",
          "BidEscrowContract",
          "OnboardingRequestContract"
        ],
        "payment_amount": "2307437410"
      }
    },
    "DaoIdsContract": {
      "wasm_relative_path": "../../target/wasm32-unknown-unknown/release/dao_ids_contract.wasm",
      "payment_amount": "75250182320",
      "whitelisting": {
        "contracts": [
          "KycVoterContract",
          "BidEscrowContract",
          "OnboardingRequestContract",
          "SlashingVoterContract",
          "RepoVoterContract",
          "ReputationVoterContract",
          "SimpleVoterContract",
          "AdminContract"
        ],
        "payment_amount": "1494012180"
      }
    },
    "SlashingVoterContract": {
      "wasm_relative_path": "../../target/wasm32-unknown-unknown/release/slashing_voter_contract.wasm",
      "payment_amount": "292824859810",
      "bid_escrow_list": {
        "contracts": [
          "BidEscrowContract"
        ],
        "payment_amount": "2169197450"
      }
    },
    "SimpleVoterContract": {
      "wasm_relative_path": "../../target/wasm32-unknown-unknown/release/simple_voter_contract.wasm",
      "payment_amount": "278116794660"
    },
    "ReputationVoterContract": {
      "wasm_relative_path": "../../target/wasm32-unknown-unknown/release/reputation_voter_contract.wasm",
      "payment_amount": "278510991060"
    },
    "RepoVoterContract": {
      "wasm_relative_path": "../../target/wasm32-unknown-unknown/release/repo_voter_contract.wasm",
      "payment_amount": "279711109170",
      "whitelisting": {
        "contracts": [
          "RepoVoterContract"
        ],
        "payment_amount": "2376333200"
      }
    },
    "AdminContract": {
      "wasm_relative_path": "../../target/wasm32-unknown-unknown/release/admin_contract.wasm",
      "payment_amount": "276435859350",
      "whitelisting": {
        "contracts": [
          "SlashingVoterContract"
        ],
        "payment_amount": "2377246300"
      }
    },
    "CSPRRateProviderContract": {
      "wasm_relative_path": "../../target/wasm32-unknown-unknown/release/cspr_rate_provider_contract.wasm",
      "args": {
        "rate": "34000000000"
      },
      "payment_amount": "64819629180"
    },
    "OnboardingRequestContract": {
      "wasm_relative_path": "../../target/wasm32-unknown-unknown/release/onboarding_request_contract.wasm",
      "payment_amount": "313155504380",
      "whitelisting": {
        "contracts": [
          "SlashingVoterContract"
        ],
        "payment_amount": "5123975950"
      }
    },
    "KycVoterContract": {
      "wasm_relative_path": "../../target/wasm32-unknown-unknown/release/kyc_voter_contract.wasm",
      "payment_amount": "283445478180",
      "whitelisting": {
        "contracts": [
          "SlashingVoterContract"
        ],
        "payment_amount": "3190230690"
      }
    },
    "BidEscrowContract": {
      "wasm_relative_path": "../../target/wasm32-unknown-unknown/release/bid_escrow_contract.wasm",
      "payment_amount": "376022022590",
      "whitelisting": {
        "contracts": [
          "SlashingVoterContract"
        ],
        "payment_amount": "9055501540"
      }
    }
  }
}
